{% if page.id and page.related and site.related_posts.size > 0 %}

{% assign postList = '' | split: ',' | uniq %}
{% for tag in page.tags %}
    {% assign tags = page.tags[forloop.index0] %}
        {% for post in site.tags[tags] %}
          {% if post.published != "false" and post.url != page.url %}
            {% assign postList = postList | push: post %}
          {% endif %}
        {% endfor %}
  {% endfor %}

<div class="page__related">
  <h4 class="page__related-title">관련 포스트</h4>
    {% for tag in page.tags %}
      <div class="grid__wrapper">
        {% assign relatedList = postList | where: 'tags', page.tags[forloop.index0] %}
        <h3>{{page.tags[forloop.index0]}}</h3>
        {% for post in relatedList %}
          {% include archive-single.html type="grid" %}
        {% endfor %} 
      </div>
    {% endfor %}  
</div>
{% comment %}<!-- otherwise show recent posts if no related when `related: true` -->{% endcomment %}

{% elsif page.id and page.related %}
<div class="page__related">
  <h4 class="page__related-title">{{ site.data.ui-text[site.locale].related_label | default: "You May Also Enjoy" }}</h4>
  <div class="grid__wrapper">
    {% for post in site.posts limit:4 %}
      {% if post.id == page.id %}
        {% continue %}
      {% endif %}
      {% include archive-single.html type="grid" %}
    {% endfor %}
  </div>
</div>
{% endif %}