{% assign date_format = site.date_format | default: "%B %-d, %Y" %}
<p class="page__date">  
  <span><i class="far fa-clock" aria-hidden="true"></i> {{ site.data.ui-text[site.locale].last_date_label | default: "Updated" }} <time datetime="{{ page.last_modified_at | date: "%Y-%m-%d" }}">{{ page.last_modified_at | date: "%F" }}</time></span>
  <span><i class="far fa-clock" aria-hidden="true"></i> {{ site.data.ui-text[site.locale].date_label | default: "wirte" }} <time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%F" }}</time></span>
</p>
