{% assign date_format = site.date_format | default: "%B %-d, %Y" %}
<p class="page__date">  
  <i class="far fa-clock" aria-hidden="true"></i>
  {% if post.last_modified_at %}
  <span class="last_modified">{{ site.data.ui-text[site.locale].last_date_label | default: "Updated" }} <lastmod>{{ post.last_modified_at | date: "%F" }}</lastmod></span>
  {% endif %}
  <span>{{ site.data.ui-text[site.locale].date_label | default: "wirte" }} <time datetime="{{ page.date | date_to_xmlschema }}">{{ post.date | date: "%F" }}</time></span>
</p>
