/* ==========================================================================
   FOOTER
   ========================================================================== */

.page__footer {
  @include clearfix;
  float: left;
  margin-left: 0;
  margin-right: 0;
  width: 100%;
  margin-top: 3em;
  color: $muted-text-color;
  -webkit-animation: $intro-transition;
  animation: $intro-transition;
  -webkit-animation-delay: 0.45s;
  animation-delay: 0.45s;
  background-color: $footer-background-color;

  footer {
    @include clearfix;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    max-width: 100%;
    padding: 0 1em 2em;

    @include breakpoint($x-large) {
      max-width: $x-large;
    }
  }

  a {
    color: inherit;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  .fas,
  .fab,
  .far,
  .fal {
    color: $muted-text-color;
  }
}

.page__footer-copyright {
  font-family: $global-font-family;
  font-size: $type-size-7;
}

.page__footer-follow {
  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  li {
    display: inline-block;
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: $sans-serif-narrow;
    font-size: $type-size-6;
    text-transform: uppercase;
  }

  li + li:before {
    content: "";
    padding-right: 5px;
  }

  a {
    padding-right: 10px;
    font-weight: bold;
  }

  .social-icons {
    a {
      white-space: nowrap;
    }
  }
}

/*
   customize
   ========================================================================== */

.page__footer{
  border-top: solid 1px #efefef;
  margin-top: 0;
  background-color: transparent;
  
  footer{
    max-width: 100%;
    margin-top: 2em;
    box-sizing: border-box;
  }

  .namecard{
    width: 100%;
    >div{
      display: flex;
    }

    .author__content{
      font-size: 0.625rem;
      flex: 1;
      text-align: left;
      padding-left: 0;

      h3{
        margin-top: 0.5em;
        font-size: 0.875rem;
        display: inline;
        color: black;
      }
      
      .location{
        color: #999;
        display: inline;
        margin: 0.25em 0;

        &::before{
          content: ",";
        }
        i{
          color: inherit;
        }
      }
      .author__bio{
        margin: 0.5em 0;

        p{
          font-size: 0.625rem;
          margin: 0;
          color: black;
        }
      }
    }

  .author__urls-wrapper{
    height: 32px;
  }

  .social-icons{
    text-align: right;
    margin: 0;
    li{
      margin-bottom: 0;
      width: 32px;
      height: 32px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      background-color: black;
      margin-left: 0.5em;
      float: left;

      &:last-of-type{
        visibility: hidden;
        width: 0;
        margin: 0;
      }

      a{
        padding: 0.5rem;
        margin: 0;
        font-size: 0;

        > span{
          font-size: inherit;
          position: absolute;
          z-index: -1;
        }

        > i{
          font-size: 0.75rem;
          color: white;
        }
      }
    }
  }
}

  .page__footer-copyright{
    text-align: right;
    margin-top: -0.5em;
    font-size: 0.625rem;
    color: #ccc;
  }
}
