  /*
   comment-customize
   ========================================================================== */

   .page__comments{
    .page__comments-title{
      font-size: 0;
      margin: 0;
    }

    #utterances-comments{
      
      >.utterances{
        @include breakpoint($large){
          margin-left: 2em;
        }
      }

      .utterances-frame{
        .timeline-comment{
          .new-comment-header{
            background-color : transparent;
          }
        }
      }
    }
  }